* text=auto !eol
import/product-phpkd_vbasn.xml -text svneol=unset#text/plain
readme/contribution.txt -text svneol=unset#text/plain
readme/info.txt -text svneol=unset#text/plain
readme/install.txt -text svneol=unset#text/plain
readme/license-legalcode.txt -text svneol=unset#text/plain
readme/license.txt -text svneol=unset#text/plain
readme/upgrade.txt -text svneol=unset#text/plain
screenshots/phpkd_vbasn_admincp_forum.png -text
screenshots/phpkd_vbasn_admincp_modperms.png -text
screenshots/phpkd_vbasn_admincp_settings.png -text
upload/includes/md5_sums_phpkd_vbafm.php -text
upload/includes/xml/bitfield_phpkd_vbasn.xml -text svneol=unset#text/plain
